<h1> Create Your Idea! </h1>

<form action="/create_idea">
  <input type="text" name="name" placeholder="Enter Name">
  <input type="text" name="description" placeholder="Enter Description">
  <input type="submit">
</form>